* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{  
    width: 100%;
    height: 100%;
}

.main {
    display: grid;
    grid-template-rows: 8% 92%;
    width: 100%;
    height: 100%;
    min-width: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: black 2px solid;
}

.main-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.class_off {
    display: none;
}

.player {
    position: absolute;
    left: 5%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 30%;
}

.play {
    background-image: url(../img/icons_music/play.png);
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.pause {
    background-image: url(../img/icons_music/pause.png);
    background-size: 60px 60px;
    background-repeat: no-repeat;
}


.game_buttons {
    position: absolute;
    right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
    margin: 0 auto;
    width: 300px;
}


.menu_button{
    border-radius: 10%;
    width: 150px;
    height: 50px;
    border: black 2px solid;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}


.creature_stule{
    width: 100px;
    height: 300px;
}

.gameMain {
    width: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.personBox {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10%;
}

.personBar {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.personBarHeal {
    padding: 0 10px 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    background-color: rgb(102, 150, 156);
    border: 1px solid rgb(27, 85, 66);
    border-radius: 10px;
    margin-bottom: 10px;
}

.personHealText {
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
}

.personHealTextAbout {
    font-size: 24px;
    font-style: italic;
}

.personWeapon {
    position: fixed;
    width: 30%;
    height: 30%;
    bottom: 2px;
    right: 10%;
    background-image: url(../img/icon/weaponPistole.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.arenaBox {
    display: flex;
    justify-content: center;
    width: 100%;
}

.monster{
    width: 200px;
    height: 500px;
    background-image: url(../img/monsters/1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.healMonsterBox {
    width: 200px;
    height: 30px;
    border: 2px solid;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 100px;
}

.healMonster {
    width: 100%;
    height: 100%;
    background-color: rgb(163, 5, 5);
    
}