* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{  
    width: 100%;
    height: 100%;
}



.container{
    min-width: 400px;
    /* margin: 40px auto; */
    /* width: 90vw; */
    width: 100%;
    height: 100%;
    border: black 2px solid;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.class_off{
    display: none;
}

.player{
    /* margin-top: 20px;
    margin-left: 20px; */
    width: 60px;
    /* height: 60px; */
    height: 20%;
    cursor: pointer;
    border-radius: 30%;
}

.play{
    background-image: url(../icons/play.png);
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.pause{
    background-image: url(../icons/pause.png);
    background-size: 60px 60px;
    background-repeat: no-repeat;
}


.game_buttons{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
    margin : 0 auto;
    width: 300px;
    top: 40%;
}


.menu_button{
    border-radius: 10%;
    width: 150px;
    height: 50px;
    border: black 2px solid;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}


.creature_stule{
    width: 100px;
    height: 300px;
}

.gameMain {
    width: 100%;
    height: 80%;
}

.arenaBox {
    width: 100%;
    height: 50%;
}

.personBox {
    width: 100%;
    height: 50%;
}

.personWeapon {
    display: flex;
    justify-content: center;
    height: 70%;
}

.personBar {
    width: 100%;
    height: 30%;
    background-color: rgb(121, 116, 116);
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.personBarAmmo,.personBarHeal,.personBarArms{
    height: 100%;
    width: 15%;
    border-right: 2px solid darkgray;
}

.redText {
    font-size: 36px;
    color: red;
}

.personIcon {
    height: 100%;
    width: 15%;
    border-right: 2px solid darkgray;
    background-color: rgb(26, 25, 25);
    background-image: url(../img/icon/pesonFace.gif);
    background-size: 65%;
    /* background-position: center; */
    background-repeat: no-repeat;
}
